<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> flask-journal </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">flask-microblog</a>
      <div class="nav justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="https://github.com/kylie-a/app-structure-example">Repo <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>
